#hobilerim {
    margin-top: 30px;
}

.hobi {
    margin-bottom: 20px;
    text-align: center;
}



.hobi img:hover {
    transform: scale(1.05);
}

.hobi p {
    margin-top: 10px;
    font-size: 18px;
    color: #4a69bd;
    font-weight: bold;
    transition: color 0.3s;
}

.hobi a {
    text-decoration: none;
}

.hobi a:hover p {
    color: #1e3799;
}
